.message {
    position: relative;
    top: 30px;
    left: 50%;
    width: 250px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .info {
    position: absolute;
    border-left: 5px solid #909399;
    padding: 10px;
    border-radius: 5px;
    background-color: #ebeee8;
    width:300px;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .message__close {
    cursor: pointer;
    font-size: 16px;
    color: #909399;
    background-color: transparent;
    border: none;
  }