.container{
  display: flex;
  align-items: center;
}

label{
    width: 60px;
    margin-right: 10px;
    padding: 10px;
}

input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
